DOCKER_VOLUME_DIRECTORY="."

# etcd
ETCD_PORT=2379

# minio
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER="" # set this
MINIO_ROOT_PASSWORD="" # set this

# milvus
MILVUS_PORT=19530
MILVUS_HEALTH_PORT=9091

# redis
REDIS_PORT=6379
REDIS_PASSWORD="" # set this and the same value in .env

# open-webui
OPEN_WEBUI_PORT=3000
WEBUI_AUTH=false
OPENAI_API_BASE_URL="http://localhost:8000/v1"
OPENAI_API_KEY="sk-unused"
